* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	max-inline-size: 100%;
}

:host {
	display: grid;
}

button {
	appearance: none;
	background: var(--background);
	color: var(--foreground);
	border: none;
	display: grid;
	anchor-name: --self;
}

:popover-open {
	background: var(--background);
	color: var(--foreground);
	border: 0.125rem solid currentColor;
	border-radius: 0.25rlh;
	padding: 1em;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	font-weight: 500;
	position: fixed;
	inset-block: anchor(top) anchor(bottom);
	inset-inline: anchor(left) anchor(right);
	inset-area: center;
	font-size: 1.25rem;

	> * {
		flex-shrink: 0;
	}

	@supports (anchor-name: --self) {
		position: absolute;
		position-anchor: --self;
		top: calc(anchor(top) + 0.5em);
		left: calc(anchor(left) + 0.5em);
		padding: 0.5em;
	}
}
