* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	max-inline-size: 100%;
}

icon-set {
	inline-size: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: safe center;
	align-content: safe center;
	margin-inline: auto;
	scroll-snap-type: y mandatory;

	> * {
		border-radius: 0.125rem;
		fill: currentColor;
		scroll-snap-align: center;
	}

	@container (inline-size < 50rem) {
		max-inline-size: 100cqi;
		gap: 0;

		> * {
			block-size: auto;
			inline-size: 100cqi;
		}
	}
}

:popover-open {
	background: var(--background);
	color: var(--foreground);
	border: 0.125rem solid currentColor;
	border-radius: 0.25rlh;
	padding: 1em;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	font-weight: 500;
	position: fixed;
	margin: auto;
	position-area: center;
	font-size: 1.25rem;

	> * {
		flex-shrink: 0;
	}

	@supports (anchor-name: --a) {
		position: absolute;
		position-anchor: var(--anchor-name);
		top: calc(anchor(top) + 0.5em);
		left: calc(anchor(left) + 0.5em);
		padding: 0.5em;
	}
}

button {
	appearance: none;
	background: var(--background);
	color: var(--foreground);
	border: none;
	display: grid;
	--background: light-dark(var(--light), var(--dark));
	--foreground: light-dark(var(--dark), var(--light));
}

svg {
	display: grid;
	inline-size: 100cqi;
	block-size: auto;
	padding: 5cqi;

	@container (inline-size >= 50rem) {
		padding: 1rem;
		inline-size: auto;
		block-size: 15rem;
	}
}

.clicked {
	anchor-name: var(--anchor-name);
}
